.mainContainer {
  width: 100vw;
  height: 80vh;
}

h2, p {
  margin: 0;
  padding: 0;
}

.middleContainer {
  width: 80vw;
  height: 90%;
  margin: 0 auto;
}

.bottomMiddleContainer {
  width: 80vw;
  height: 10%;
  position: relative;
  margin: 0 auto;
}
.bottomMiddleContainer a {
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  transition: ease-in-out 0.25s;
}

.foreground {
  width: 80vw;
  height: 55vh;
  position: absolute;
  text-shadow: 0 0 1rem black;
}

.foregroundLeft {
  position: absolute;
  bottom: 0.3em;
  left: 0.3em;
  z-index: 2;
  pointer-events: none;
  font-size: 3rem;
}

.foregroundLeftDateOfEvent {
  width: 40%;
  height: 55vh;
}

.foregroundRight {
  width: 40%;
  height: 55vh;
  float: right;
  text-align: right;
}

.carouselList {
  margin: 0;
  padding: 0;
  pointer-events: none;
  z-index: 2;
  list-style: none;
  position: absolute;
  bottom: 0.3em;
  right: 0.3em;
  font-size: 3rem;
}

.foregroundRightVenue {
  font-size: 2rem;
}

.background {
  width: 80vw;
  height: 55vh;
  position: absolute;
}

.mainImage {
  width: 100%;
  height: 55vh;
  border-radius: 5vw;
  margin: 0 auto;
}

.mainImageImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 0 1rem black;
  transition: ease-in-out 0.25s;
}

.mainImageImage:hover {
  box-shadow: 0 0 1rem #4E4E50;
  transition: ease-in-out 0.25s;
}

#mainImageLink {
  width: 80vw;
  height: 55vh;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.dateOfEvent.small {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1rem;
}

.title.small {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.bottomCarousel {
  width: 100%;
  height: 15vh;
  margin-top: 1rem;
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
}

.foregroundCarousel {
  width: 100%;
  height: 100%;
  position: absolute;
}

.backgroundCarousel {
  width: 100%;
  height: 100%;
  position: absolute;
}

.backgroundCarouselIndividual {
  width: 20%;
  height: 15vh;
  position: relative;
  float: left;
  margin-left: 2vw;
  margin-right: 2vw;
}

.backgroundCarouselImageOverlay {
  background-color: black;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  float: left;
  position: absolute;
  z-index: 2;
  opacity: 0.5;
  transition: ease-in-out 0.25s;
  cursor: pointer;
}

.backgroundCarouselImageOverlay:hover {
  opacity: 0;
  transition: ease-in-out 0.25s;
}

.backgroundCarouselImage {
  object-fit: cover;
  width: 100%;
  height: 15vh;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem black;
  float: left;
  position: absolute;
}

#headlines {
  width: 100%;
  height: 15vh;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
}
#headlines li {
  width: 20%;
  height: 100%;
  margin-left: 2vw;
  margin-right: 2vw;
  text-align: right;
  float: left;
  position: relative;
  border-radius: 0.5rem;
}
#headlines li a {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 0.3rem;
  text-shadow: 0 0 1rem black;
}

/*# sourceMappingURL=homepage.css.map */
